@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-ExtraLight.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: "JosefinSans";
	src: url("fonts/JosefinSans-Light.ttf");
    font-style: normal;
    font-weight: normal;

}
@font-face {
	font-family: "YellowtailRegular";
	src: url("fonts/Yellowtail-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}


.header {
background-color: #1B1A1A;
color: white;
top:0;
left: 0;
position: absolute;
min-width: 100%;
height: 70px;
}

.header a{
	text-decoration:none;
	color: white;
}

.header ul
{
	list-style: none;
	position: relative;
	margin-left: 21%;
	padding-top: 3px;
	
}
.header li
{	
	font-family: 'Raleway';
	font-size: 25px;
	display: inline;
	text-align: center;
	padding-right: 50px;
}

.main {
	margin:auto;
	margin-top: 10%;
	width: 1024px;
}

h1
{
	font-family: 'JosefinSans', sans-serif;
	font-size: 60px;
	text-align: center;
	margin-bottom: -5px;
}

.main h2
{
	font-family: 'YellowtailRegular' ,sans-serif;
	text-align: center;
	margin-top: 0px;
}

img
{	
	position: relative;
	display: block;
    margin: auto;
    width: 90%;
	border-radius: 20px; 
}

h3
{
	font-family: 'JosefinSans', sans-serif;
	clear: both;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
.imgwithcontainer
{
	padding-bottom: 30px;
}
.textcenter
{
	margin-left: 26%;
	font-family: 'Raleway';
	width: 500px;
	text-align: center;
	margin-bottom: 50px;
}

.conteinerWithText
{	
	position: absolute;
	background-color: white;
	width: 400px;
	height: 300px;
	margin-left: 310px;
	display: relative;
	margin-top: -500px;
	border-radius: 40px;
	padding-top: 50px;
	opacity: 0.5;
}
.conteinerWithText h2
{
	font-family: 'JosefinSans', sans-serif;
}

.conteinerWithText p
{
	font-family: 'JosefinSans', sans-serif;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

button
{
	margin-top: 20px;
	margin-left: 42%;
	background-color: white;
	border: 1px solid black;
	font-family: 'JosefinSans', sans-serif;
	padding-top: 5px;
	transform: scale(1.5);
	color:black;
}
.soc {
	margin-left: 520px;
}
.soc ul
{
	list-style: none;
	
	margin-right: 40px;
	margin-right: 60px;
}
.social{
	width: 70px;
	display: inline;
}
